<h1>Schedule</h1>

<h4>HOw many days a week do you want to work out?</h4>

<form  action="/schedule" method="post">
    <input type="text" name="frequency" value="">
     <button type="submit" name="Enter"></button>
</form>
