<% if flash.has?(:message) %>
  <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
<% end %>
<h2 class="text-center login-title">Sign Up to continue to Fitness Hacker</h2>
<div class="row">
  <form class="form-horizontal" action='/signup' method="POST">
    <fieldset>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" required>
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
          <input type="text" class="form-control" id="inputEmail" placeholder="Age" name="age">
          <input type="text" class="form-control" id="inputEmail" placeholder="Gender"  name="gender">
          <input type="text" class="form-control" id="inputEmail" placeholder="Weight" name="weight">
          <input type="text" class="form-control" id="inputEmail" placeholder="Height" name="height">
          <input type="text" class="form-control" id="inputEmail" placeholder="Goal (cut, build, maintain)" name="goal"><br><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
    </fieldset>
  </form>
</div> <!--signup-->
