
<div class="centeredform">
  <form class="form-horizontal" action='/signup' method="POST">
    <fieldset>
      <div class="form-group">
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
      </div>
      <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Age" name="age">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Gender"  name="gender">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Weight" name="weight">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Height" name="height">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="inputEmail" placeholder="Goal (cut, build, maintain)" name="goal">
      </div>


      <div class="form-group">
          <button type="submit" class="btn fulllengthbutton">Sign Up</button>
      </div>
    </fieldset>
  </form>
</div>
