<form class="form-horizontal" action="/workout_page" method="post">


        <div class="form-group">
            What body part do you want to work out?

            <input type="text" class="form-control"  name="body_part">
        </div>

        <div class="form-group">
            <button type="submit" class="btn fulllengthbutton">SUBMIT</button>
        </div>

</form>
