<form class="form-horizontal" action="/workout" method="post">

  <div class="form-group">
    <label for="body_part" class="col-lg-3 control-label">What body part do you want to work out?</label>
    <div class="col-lg-4">
     <select class="form-control" name="body_part">
        <% Type.all.each do |type| %>
        <option id="type_<%=type.id%>" value="<%=type.name%>"><%= type.name %></option>
        <% end %>
      </select>
    </div>
  </div><br>

  <div class="form-group">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
  </div>
</form>
