<h1> Fitness Hacker </h1>

<br></br>
<h2>Exercises grouped by type:</h2>
<br></br>
<%@types.each do |type|%>
<h2><%=type.name%></h2>
<%type.exercises.each do |exercise|%>
<h4><%=exercise.name%></h4>
<p><%=exercise.description%></p>
<%end%>
<%end%>
