<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
            <% if logged_in? %>
              <li><a href="/users/<%= current_user.id %>">Home</a></li>
              <li><a href="/workout">Generate Workout</a></li>
              <li><a href="/signout">Log Out</a></li>
            <% else %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
            <% end %>
    <%= yield %>
  </body>
</html>
